= javascript_include_tag 'builder'

= javascript_include_tag 'pie/core'
= javascript_include_tag 'pie/menu'
= javascript_include_tag 'pie/inline-menu'

= javascript_include_tag 'pie/cell'
= javascript_include_tag 'pie/mplist'
= javascript_include_tag 'pie/tab'

= javascript_include_tag 'views/base'

= javascript_include_tag "/javascripts/views/mpaccordion.js"

= javascript_include_tag '/javascripts/kissy_editor/editor_mindpin.js'

= javascript_include_tag  '/javascripts/pie/notice_tip.js'
= javascript_include_tag  '/javascripts/pie/pie_dragdrop.js'


:javascript
  pie.authenticity_token = #{form_authenticity_token.to_json};

= yield :javascripts